<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0&appId=3066596770278637&autoLogAppEvents=1" nonce="sL82PnwR"></script>

<script>
    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
        console.log('statusChangeCallback');     // The current login status of the person.
        if (response.status === 'connected') {   // Logged into your webpage and Facebook.
            window.location.replace('facebook');
        }
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '205472271366223',
            status     : false,
            cookie     : true,
            xfbml      : true,
            version    : 'v11.0'
        });

        //FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
        //    statusChangeCallback(response);        // Returns the login status.
        //});
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


{{> banner }}
  
  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="button button-account" href="/users/register">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form class="row login_form" action="/users/login" id="contactForm" method="post">
                            {{#if message}}
                                <div class="col-md-12 form-group alert {{type}}">
                                    <strong>{{message}}</strong>
                                </div>
                            {{/if}}
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="username" name="username" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="keepLoggedIn" name="keepLoggedIn">
									<label for="f-option2">Keep me logged in</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-login w-100">Log In</button>
								<a href="#">Forgot Password?</a>
							</div>
                            <div class="col-md-12">
                                <fb:login-button
                                        scope="public_profile,email"
                                        onLogin="checkLoginState();">
                                </fb:login-button>
                            </div>
                            <div class="col-md-12">
                            <div id="status">
                            </div></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!--================End Login Box Area =================-->



